on early-init
    mkdir /mnt/sdcard 0000 system system
    # for backwards compatibility
    symlink /mnt/sdcard /sdcard

    mkdir /mnt/external_sd 0000 system system
    symlink /mnt/external_sd /external_sd

on early-fs
    mkdir /system
    mkdir /data 0771 system system
    mkdir /cache 0771 system cache
    mkdir /config 0500 root root
    mkdir /efs 0771 system system
    mkdir /persist 0771 system system

on emmc-fs
    mkdir /system
    mkdir /data 0771 system system
    mkdir /persist 0771 system system
    mkdir /cache 0770 system cache
    mkdir /config 0500 root root
    mkdir /persist 0771 system system
    mkdir /efs 0771 system system

# Mount /proc/emmc
#    devwait emmc@system
#    mount ext4 emmc@system /system barrier=1

#    devwait emmc@userdata
#    mount ext4 emmc@userdata /data noatime nosuid nodev barrier=1 nodelalloc

#    devwait emmc@cache
#    mount ext4 emmc@cache /cache noatime nosuid nodev barrier=1

#    devwait emmc@efs
#    mount ext4 emmc@efs /efs noatime nosuid nodev barrier=1

# Mount a la samsung
    wait /dev/block/mmcblk0p16
    mount ext4 /dev/block/mmcblk0p16 /system barrier=1

    wait /dev/block/mmcblk0p18
    exec /system/bin/e2fsck -v -y /dev/block/mmcblk0p18
    mount ext4 /dev/block/mmcblk0p18 /data nosuid nodev barrier=1 noauto_da_alloc

    mount ext4 /dev/block/mmcblk0p17 /cache nosuid nodev barrier=1

    wait /dev/block/mmcblk0p19
    exec check_filesystem /dev/block/mmcblk0p19 ext4
    mount ext4 /dev/block/mmcblk0p19 /efs nosuid nodev barrier=1

# Permissions
    chown radio system /efs
    chmod 0771 /efs
    mkdir /efs/imei 0775
    chown radio system /efs/imei
    chown system system /efs/calibartion_data
    chown radio system /efs/imei/keystr
    chmod 0775 /efs/imei
    chmod 0775 /efs/imei/keystr
    chown root system /dev/block/mmcblk0p13
    chmod 0660 /dev/block/mmcblk0p13
